layout {
    default_tab_template {
        children
        pane size=1 borderless=true split_direction="vertical" {
            plugin location="https://github.com/ishefi/zellaude/releases/latest/download/zellaude.wasm" size="10%"
            plugin location="zellij:compact-bar" {
                tooltip "F1"
            }
        }
    }
    tab focus=true cwd="~"
}
